<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE2l7XswaVTmc1IRJbmhN4praDu6OSDV4</string>
	<key>GCM_SENDER_ID</key>
	<string>1073440006416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.espeee</string>
	<key>PROJECT_ID</key>
	<string>espeee-6a087</string>
	<key>STORAGE_BUCKET</key>
	<string>espeee-6a087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073440006416:ios:64b6fe2b43bbb297bbc595</string>
</dict>
</plist>